
@using System.Web.UI.WebControls
@model List<Table>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
     
        <div id="MainTable">
      <button ID="OpenCatalogs" runat="server">Открыть каталог форд. Тест</button>
        </div>
    </body>
</html>
