@{
    ViewBag.Title = "Регистрация";
}

<br/>
<div align="left" style="float: left;margin-left: 20%; margin-top:10%">
     <text style="font-size: 16px">Необходимо подтверждение электронной почты!</text>
    <link rel="stylesheet" href="~/Content/TableStyle.css"/>
    </div>

