@{
    ViewBag.Title = "Регистрация";
}

<br />
<div align="left" style="float: left; margin-left: 20%; margin-top: 10%">
    <text style="font-size: 16px">Электронная почта подтверждена!</text>
    <p>
        <text style="font-size: 16px">Можно <a href="@Url.Action("Login", "Account")">входить</a> на сайт.</text>
    </p>
    <link rel="stylesheet" href="~/Content/TableStyle.css" />
</div>
